.intro-text:nth-child(1) { font-size:3.6rem; visibility:visible; opacity:1; position:relative; top:0; transform:none; }
.intro-text:nth-child(2),
.intro-text:last-child,
.intro-list-item { visibility:visible; opacity:1; transform:none; }